:root{
    --black: #0E0E0E;
    --blue: #0DE0FD;
    --white: #D9D9D9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: var(--white);
    background-color: var(--black);
}

h1{
    font-size: 4.8rem;
    font-weight: 700;
}

h2{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}


h3{
    font-size: 2rem;
    font-weight: 700;
}

h4{
    font-size: 1.5rem;
    font-weight: 500;
}

p{
    font-size: 1.2rem;
    font-weight: 400;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid{
    display: grid;
    gap: 9rem;
    align-content: center;
}

.acc-col{
    color: var(--blue);
}

.section{
    margin-bottom: 10rem;
}

.project-card-reverse{
    display: flex;
    flex-direction: row-reverse;
    gap:3rem;
    background-color: #141414;
    align-items: center;
    margin-bottom: 3rem;
    padding-left: 3rem; 
}
.project-card-reverse:hover{
    border-left: solid 5px var(--blue) ; 
    transition: all 100ms ease-in-out;
}
.project-card-reverse img{
    width: 50%;
}

footer{
    background-color: #1a1a1a;
}

footer p{
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0;
}

footer p span{
    font-weight: 500;
    color: var(--blue);
}

#myProjects{
    margin-top: 3rem;
}

.contact-me{
    padding: 5rem 0;
}
